// ===============
// colors palette
// ===============
:root {
	// Site colors (Кольори сайту):
	// =================================================================
	--primary: #242424; // Site main color - (Основний колір сайту)
	--secondary: #121212; // Site secondary color - (Додатковий колір сайту)
	--blue: #3F79CF; // Site accent color - (Наприклад: кнопки дії, заголовки, посилання)
	--blue-hover: #2155a4; // Site accent color - (Наприклад: кнопки дії, заголовки, посилання)


	// Text colors (Текстові кольори):
	// =================================================================
	--text-primary: #fbfffe; // Text primary text color - (Основний текстовий колір сайту)
	--text-secondary: #080708; // Text secondary text color - (Додатковий текстовий колір сайту)
	--text-accent: #e8eddf; // Text accent - наприклад, може використовуватися для встановлення кольору тексту для акцентних елементів на сторінці, таких як заголовки або кнопки.
	--text-inverse: #e8eddf; // Text inverse - наприклад, може використовуватися для налаштування кольору тексту на темному фоні.
	// =================================================================
}
